*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}
.Sign-in{
    width: 100vw;
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(https://thumbs.dreamstime.com/b/black-white-grunge-abstract-halloween-seamless-pattern-background-spiderwebs-halloween-black-white-grunge-background-138492629.jpg);
}
.form_sign-in{
    width: 370px;
    height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(176, 173, 173);
    border-radius: 5px;
}

.sign{
    margin-top: 20px;
    padding: 7px;
    width: 90px;
    background-color: #ff8181 ;
    border: 1px solid;
   text-decoration: none;
   color: black;
}
.sign:hover{
    background-color: #f6a6a6;
    cursor: pointer;
}
.block{
    display: flex;
    flex-direction: column;
    margin: 10px;
    
}
label{
    font-size: 1.2rem;
}
input{
    width: 250px;
    height: 30px;
}
.form-message{
    color: red;
    display: none;
}
h1{
    margin-top: 20px;
    text-align: center;
}
.login{
    text-decoration: none;
    color: rgb(10, 76, 241);
}
.login:hover{
    color: red;
}
p{
    margin-top: 12px;
}